body{
    background-color: #DDA0DD;
    display: flex;
    align-items: center;
    /*align-items: center;-перемещает 
    объекты в центр по вертикале*/

    flex-direction: column;
    /*flex-direction: column;-строчные элементы
     превращает в столбец*/
     height: 100vh;
     /*100vh- обозначает 100% высоты всего экрана*/
     margin: 0;
 }
.buttons{
	display: grid;
	/*display:grid;- превращает контейнер в решотку*/
	grid-template-columns: repeat(4,1fr);
     /*grid-template-columns:repeat(4,1fr);-создает столбцы */
    /*нужного нам размера и кол-во*/
	gap:10px;
	/*gap:..px;-создает по всем 
	направлениям промежутки межлу объектами*/
	padding-top: 10px;
}
.buttons button:last-child{
	/*button:last-child{}-  выбирает последний элемен
	button:first-child{}-выбирает первый элемент
	button:nth-child(тут пишем элемент который хотим поменять,odd-меняем каждый не четный элемент,even-меняем каждый четный элемент)*/
	grid-column: span 4;
	/*grid-colums:span 4-объеденила 4 столбца в один,имено столбцы*/
}
button:last-child:hover{
    background-color: #9370DB;
}
button{
	background-color: #483D8B;
	border-radius: 30px;
	padding: 12px;
	color: white;
	font-size: 15px;
	cursor:pointer;
}
button:hover{
/*button:hover{}-устанавливает свойствай(цвет) при наведение на кнопку*/
    background-color:#9370DB ;
    border-color: #483D8B;
}
.calculator{
	margin-top: 40px;
	background-color: #6495ED;
	border: 9px solid #483D8B;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	animation: anima_1 6s infinite linear;
}
#nazvanie{
	margin-top: 100px;
	cursor:pointer; 
	font-size:50px;
}
#calcinput{
	height: 30px;
	padding: 8px;
	font-size: 15px;
	border: 2px solid #483D8B;
}
@keyframes anima_1 {
	0%{
		box-shadow: 0px 0px 0px black;
	}
	25%{
		box-shadow: 3px 5px 30px #FF8C00;

	}
	50%{
		box-shadow: 4px 5px 35px #FF6347;
	}
	75%{
		box-shadow: 3px 5px 30px #FF8C00;
	}
	100%{
		box-shadow: 0px 0px 0px black;
	}
}
.animate__animated.animate__swing{
	animation-iteration-count: infinite;
}